<!DOCTYPE html>
<html lang="en" data-dtinth>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Uploader</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/combine/npm/water.css@2.0/out/dark.min.css,gh/dtinth/dtinth-water@v0.1/dtinth-water.min.css"
    />
  </head>
  <body>
    <div id="app">
      <h1>tmp-uploader</h1>
      <template v-if="configuring || !url">
        <h2>
          Configuration
        </h2>
        <form @submit.prevent="save">
          <p>
            <label>
              <strong>Upload endpoint URL</strong>
              <input type="url" v-model="configUrl">
            </label>
          </p>
          <p>
            <button>
              Save
            </button>
          </p>
        </form>
      </template>
      <template v-else>
        <button @click="configuring = true">
          Configure
        </button>
      </template>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.5/dist/vue.global.prod.js" integrity="sha256-2KnOUvjJn/oCJPCIK1g0/2k6ruZzFZ9u4KkbWJDiwl8=" crossorigin="anonymous"></script>
    <script>
      Vue.createApp({
        setup() {
          const url = Vue.ref()
          const configuring = Vue.ref(false)
          const configUrl = Vue.ref()
          const save = () => {
            configuring.value = false
          }
          return {
            url,
            configuring,
            configUrl,
            save,
          }
        }
      }).mount('#app')
    </script>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>
  </body>
</html>
