<!DOCTYPE html>
<html lang="en" data-dtinth>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Uploader</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/combine/npm/water.css@2.0/out/dark.min.css,gh/dtinth/dtinth-water@v0.1/dtinth-water.min.css"
    />
    <style>
      .upload-card {
        background: #090807;
        border: 1px solid #656463;
        padding: 1em;
        margin-bottom: 1em;
      }
      .copy-item {
        display: flex;
        padding: 0.5em;
        background: #252423;
        gap: 0.5em;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>tmp-uploader</h1>
      <template v-if="!uploads.length">
        <p>
          To use this tool, add an extension to <a href="https://tmp.spacet.me">tmp.spacet.me</a> with this URL:
        </p>
        <copy-item value="https://raw.githubusercontent.com/dtinth/tmp-uploader/master/"></copy-item>
      </template>
      <div v-for="upload of uploads" class="upload-card">
        Uploading <strong>{{ upload.name }}</strong>
        <div>
          <progress :value="upload.progress"
            >{{upload.formattedProgress}}%</progress
          >
          {{upload.status}}
        </div>
        <div style="margin-top: 1em" v-if="upload.downloadUrl">
          <copy-item :value="upload.downloadUrl"></copy-item>
        </div>
      </div>
      <hr />
      <template v-if="configuring || !url">
        <h2>
          Configuration
        </h2>
        <form @submit.prevent="save">
          <h3>
            Upload URL request endpoint
          </h3>
          <p>
            This endpoint should take a GET request with <code>filename</code> and <code>type</code> query parameters
            and respond with a JSON object with <code>uploadUrl</code> and <code>downloadUrl</code> strings.
            The file will then be uploaded to the upload URL via a PUT request and the download URL will be available for copy.
          </p>
          <p>
            <label>
              <strong>Upload URL request endpoint</strong>
              <input type="url" v-model="configUrl" />
            </label>
          </p>
          <p>
            <button>
              Save
            </button>
          </p>
        </form>
      </template>
      <template v-else>
        <button @click="configure">
          Configure
        </button>
      </template>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"
      integrity="sha256-JLmknTdUZeZZ267LP9qB+/DT7tvxOOKctSKeUC2KT6E="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/vue@3.0.5/dist/vue.global.prod.js"
      integrity="sha256-2KnOUvjJn/oCJPCIK1g0/2k6ruZzFZ9u4KkbWJDiwl8="
      crossorigin="anonymous"
    ></script>
    <script>
      const app = Vue.createApp({
        setup() {
          const url = Vue.ref(localStorage.TMP_UPLOADER_URL_REQUEST_ENDPOINT);
          const configuring = Vue.ref();
          const configUrl = Vue.ref();
          const uploads = Vue.reactive([]);
          const configure = () => {
            configUrl.value = url.value;
            configuring.value = true;
          };
          const save = () => {
            localStorage.TMP_UPLOADER_URL_REQUEST_ENDPOINT = url.value =
              configUrl.value;
            configuring.value = false;
          };
          const setFile = (name, blob) => {
            uploads.push(beginUploading(name, blob));
          };
          const beginUploading = (name, blob) => {
            const upload = Vue.reactive({
              name,
              blob,
              status: "Pending...",
              downloadUrl: undefined,
              progress: undefined,
              formattedProgress: Vue.computed(() =>
                upload.progress !== undefined
                  ? (100 * upload.progress).toFixed(1) + "%"
                  : "..."
              )
            });
            (async () => {
              try {
                while (!url.value) {
                  upload.status = "Waiting for URL to be configured...";
                  await new Promise(r => setTimeout(r, 1000));
                }
                upload.status = "Getting upload URL..."
                const urlRequestEndpoint = url.value
                const extraParams = new URLSearchParams()
                extraParams.set('filename', name)
                extraParams.set('type', blob.type)
                const {data: urlRequestData} = await axios.get(
                  urlRequestEndpoint +
                  (urlRequestEndpoint.includes('?') ? '&' : '?') +
                  extraParams.toString()
                )
                if (!urlRequestData.uploadUrl || typeof urlRequestData.uploadUrl !== 'string') {
                  throw new Error('No `uploadUrl` string returned.')
                }
                upload.status = "Uploading..."
                const uploadResponse = await axios.put(urlRequestData.uploadUrl, blob, {
                  headers: {
                    'Content-Type': blob.type,
                  },
                  onUploadProgress: e => {
                    const kb = b => (+b).toFixed(0) + ' KB'
                    const progress = e.loaded / e.total
                    upload.progress = progress
                    upload.status = `Uploading ${kb(e.loaded)}/${kb(e.total)}`
                  }
                })
                upload.downloadUrl = urlRequestData.downloadUrl
                console.log(uploadResponse)
              } catch (e) {
                upload.status = "Unable to upload: " + e;
                console.error(e);
              }
            })();
            return upload;
          };
          return {
            url,
            configuring,
            configure,
            configUrl,
            save,
            setFile,
            uploads
          };
        }
      });      
      app.component('copy-item', {
        props: ['value'],
        template: `<div class="copy-item">
          <input
            readonly
            size="72"
            style="width: 100%; flex: auto"
            :value="value"
          />
          <button
            style="flex: none"
            @click="copyTextToClipboard(value)"
          >
            Copy
          </button>
        </div>`,
        methods: {
          copyTextToClipboard(text) {
            var copyFrom = document.createElement('textarea')
            copyFrom.textContent = text
            document.body.appendChild(copyFrom)
            copyFrom.select()
            document.execCommand('copy')
            copyFrom.blur()
            document.body.removeChild(copyFrom)
          },
        },
      })
      const instance = app.mount("#app")
      const startTmpSessionWith = (targetWindow, sessionId) => {
        window.addEventListener("message", async e => {
          if (e.data.id === "getfile") {
            instance.setFile(e.data.result.file.name, e.data.result.blob);
          }
        });
        targetWindow.postMessage(
          {
            jsonrpc: "2.0",
            method: "tmp/getOpenedFile",
            params: { sessionId },
            id: "getfile"
          },
          "*"
        );
      };
      {
        const match = location.hash.match(/tmpsessionid=([\w-]+)/);
        if (window.opener && match) {
          startTmpSessionWith(window.opener, match[1]);
        }
      }
    </script>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>
  </body>
</html>
