<!DOCTYPE html>
<html lang="en" data-dtinth>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Uploader</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/combine/npm/water.css@2.0/out/dark.min.css,gh/dtinth/dtinth-water@v0.1/dtinth-water.min.css"
    />
  </head>
  <body>
    <div id="app">
      <h1>tmp-uploader</h1>
      <hr />
      <template v-if="configuring || !url">
        <h2>
          Configuration
        </h2>
        <form @submit.prevent="save">
          <p>
            <label>
              <strong>Upload URL request endpoint</strong>
              <input type="url" v-model="configUrl">
            </label>
          </p>
          <p>
            <button>
              Save
            </button>
          </p>
        </form>
      </template>
      <template v-else>
        <button @click="configure">
          Configure
        </button>
      </template>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js" integrity="sha256-JLmknTdUZeZZ267LP9qB+/DT7tvxOOKctSKeUC2KT6E=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.5/dist/vue.global.prod.js" integrity="sha256-2KnOUvjJn/oCJPCIK1g0/2k6ruZzFZ9u4KkbWJDiwl8=" crossorigin="anonymous"></script>
    <script>
      const instance = Vue.createApp({
        setup() {
          const url = Vue.ref(localStorage.TMP_UPLOADER_URL_REQUEST_ENDPOINT)
          const configuring = Vue.ref()
          const configUrl = Vue.ref()
          const configure = () => {
            configUrl.value = url.value
            configuring.value = true
          }
          const save = () => {
            localStorage.TMP_UPLOADER_URL_REQUEST_ENDPOINT = url.value = configUrl.value
            configuring.value = false
          }
          const setFile = f => {
            console.log(f)
          }
          return {
            url,
            configuring,
            configure,
            configUrl,
            save,
            setFile,
          }
        }
      }).mount('#app')

      const startTmpSessionWith = (targetWindow, sessionId) => {
        window.addEventListener('message', async e => {
          if (e.data.id === 'getfile') {
            instance.setFile(e.data.result.blob)
          }
        })
        targetWindow.postMessage({
          jsonrpc: '2.0',
          method: 'tmp/getOpenedFile',
          params: { sessionId },
          id: 'getfile',
        }, '*')
      }
      {
        const match = location.hash.match(/tmpsessionid=([\w-]+)/)
        if (window.opener && match) {
          startTmpSessionWith(window.opener, match[1])
        }
      }
    </script>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>
  </body>
</html>
